Django>=5.2,<6
djangorestframework>=3.15,<4
djangorestframework-simplejwt>=5.3,<6
django-cors-headers>=4.6,<5
Pillow>=11,<12
gunicorn>=23,<24
whitenoise>=6.8,<7
dj-database-url>=2.3,<3
psycopg2-binary>=2.9,<3
django-storages>=1.14,<2
boto3>=1.35,<2
